.jumbotron {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    color: aliceblue;
    text-align: center;
    background-color: #256fff;
    min-height: 100vh;
    border-radius: 0;
    overflow: hidden;
    margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .jumbotron {
        font-size: 18px;
    }

    .jumbotron h1 {
        font-size: 32px;
    }

    .jumbotron img {
        max-width: 500px;
        max-height: 500px;
    }
}

.container {
    min-height: 100vh;
}

.vision {
    overflow: hidden;
    font-family: 'Indie Flower', cursive;
}

.underlined {
    text-decoration: underline;
}

.visionImg {
    display: block;
    margin: 5px auto;
    height: 350px;
    width: 400px;
}

.stepsPanel {
    text-align: center;
    font-size: 64px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.card {
    margin: 0 auto;
    border: none;
}

.card img {
    height: 240px;
}

#result {
    font-size: 36px;
}

.footer {
    position: relative;
    margin-top: 50px;
    bottom: 0;
    width: 100%;
    height: 200px;
    line-height: 60px;
    background-color: lightslategrey;
    text-align: center;
}

ul {
    padding-top: 50px;
}

ul a {
    color: black;
}


